<div class="header">
  <p><span>Social</span>Network</p>
  <input type="text" placeholder="Search">
  <button class="upload">Upload</button>
  <div class="head2">
    <button class="user"></button>
    <div>
     Ilham Muhammad Syah Putra
      <span class="badge">999+</span>
    </div>
  </div>
</div>

<div class="category">
  <span>Videos /</span>
  <span>People /</span>
  <span>Documents /</span>
  <span>Events /</span>
  <span>Communities /</span>
  <span>Favorites /</span>
  <span>Channels </span>
</div>

<div class="main">
  <div class="main-left">
    <p class="top">Videos</p>
    <div class="main1">
      <div class="text1">
        <img src="{{res1[0].download_url}}">
        <p>By Ilham</p>
      </div>
      <div class="main3">
        <img src="{{res1[1].download_url}}">
        <img src="{{res1[2].download_url}}">
      </div>
    </div>
    <div class="main2">
      <img src="{{res1[3].download_url}}">
      <img src="{{res1[4].download_url}}">
      <div class="box">
        <i class="fas fa-arrow-circle-up"></i>
        <p>Upload Your Own Video</p>
      </div>
    </div>
  </div>

  <div class="main1-right">
    <p class="title">Activity </p>
    <div class="act-1" *ngFor="let pic of res4r;let i=index">
      <div class="rect">
      </div>
      <img src="{{pic.download_url}}">
      <p> By Ilham</p>
    </div>
  </div>
</div>

<div class="main">
  <div class="main-left">
    <p class="top">People</p>
    <div class="main1">
      <div class="text1">
        <img src="{{res2[0].download_url}}">
        <p>By Ilham</p>
      </div>
      <div class="main3">
        <img src="{{res1[3].download_url}}">
        <img src="{{res1[4].download_url}}">
      </div>
    </div>
    <div class="main2">
      <img src="{{res1[3].download_url}}">
      <img src="{{res1[4].download_url}}">
      <div class="box">
        <i class="fas fa-record-vinyl"></i>
        <p>Show Your Work</p>
      </div>
    </div>
  </div>

  <div class="main2-right">
    <p class="title">Channels</p>
    <div class="ch-1">
      <div class="hov" *ngFor="let pic of res5r; let i=index">
        <img src="{{pic.download_url}}">
        <span>By Ilham</span>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="main-left">
    <p class="top">Documents</p>
    
    <div class="main1">
      <div class="text1">
        <img src="{{res3[0].download_url}}">
        <p>By Ilham</p>
      </div>

      <div class="main3">
        <img src="{{res1[3].download_url}}">
        <img src="{{res1[4].download_url}}">
      </div>
    </div>

    <div class="main2">
      <img src="{{res1[3].download_url}}">
      <img src="{{res1[4].download_url}}">
      <div class="box">
        <i class="fas fa-plus-circle"></i>
        <p>Share Your Document</p>
      </div>
    </div>
  </div>
</div>

<div class="medsos">
  <button class="twitter" mat-raised-button href="https://twitter.com/"></button>
  <button class="linkedin" mat-raised-button routerLink="https://twitter.com/"></button>
  <button class="fb" mat-raised-button routerLink="https://twitter.com/"></button>


  <div class="footer">
    <span>About /</span>
    <span>For Business /</span>
    <span>Suggestions /</span>
    <span>Help & FAQs /</span>
    <span>Contacts /</span>
    <span>Pricing </span>
  </div>

  <div class="label">
    Copyright 2020 Companyname inc.
    <br>
    Privacy / Terms
  </div>
</div>
