$main-color: #9e3232;
$sec-color: #fde6cb;

::ng-deep body {
  background-color: $main-color;
  padding: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  color: $sec-color;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  p {
    margin-top: 0;
    font-size: 2vw;
    span {
      font-weight: 600;
    }
  }
  input {
    background-color: $sec-color;
    color: $main-color;
    flex-basis: 30vw;
    height: 4vh;
    box-sizing: border-box;
    border: 2px solid $sec-color;
    border-radius: 4px;
    font-size: 16px;
    background-image: url("../assets/search-solid.svg");
    background-position: 375px 5px;
    background-repeat: no-repeat;
    background-size: 15px;
    padding: 12px 20px 12px 12px;
  }

  .upload {
    background-color: $sec-color;
    color: $main-color;
    width: 120px;
    min-width: 75px;
    height: 4vh;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    padding: 0 0 0 20px;
    background-image: url("../assets/uploads.svg");
    background-position: 11px 5px;
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
  }

  .head2 {
    display: flex;
    .user {
      background-color: $sec-color;
      margin-right: 10px;
      width: 40px;
      height: 4vh;
      border: none;
      border-radius: 4px;
      background-image: url("../assets/user.svg");
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
      cursor: pointer;
    }
    .badge {
      background-color: $sec-color;
      color: $main-color;
      font-size: 10px;
      font-weight: 600;
      position: absolute;
      top: 40px;
      padding: 5px 10px;
      border-radius: 25px;
    }
  }
}

.category {
  color: $sec-color;
  display: flex;
  justify-content: flex-start;
  border-top: 2px solid $sec-color;
  border-bottom: 2px solid $sec-color;
  margin-left: 4vw;
  margin-right: 4vw;
  span {
    margin: 10px;
  }
}

.main1-right {
  float: right;
  flex: 3;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid $sec-color;
  .act-1 {
    display: flex;
    max-height: 10vw;
    margin-bottom: 10px;
    img {
      width: 10vw;
      margin-right: 10px;
    }
    p {
      font-size: 1.2vw;
    }
  }
  .act-1:hover {
    position: relative;
    border: 2px solid $sec-color;
    .rect {
      position: absolute;
      right: 0;
      border-top: 20px solid $sec-color;
      border-left: 20px solid transparent;
    }
  }
}

.main2-right {
  float: right;
  flex: 3;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid $sec-color;
  .ch-1 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
    .hov {
      position: relative;
      img {
        width: 11.5vw;
        height: 9vw;
        margin-right: 10px;
      }
      span {
        display: none;
      }
    }
    .hov:hover {
      img {
        border: 2px solid $sec-color;
        opacity: 0.8;
      }
      span {
        display: unset;
        color: $main-color;
        background-color: $sec-color;
        position: absolute;
        bottom: 8px;
        left: 0;
        font-size: 12px;
      }
    }
  }
}

.medsos {
  color: $sec-color;
  font-size: 12px;
  border-top: 2px solid $sec-color;
  margin: 4vw;

  button {
    margin: 10px 10px 5px 0;
  }

  .twitter {
    background-color: $sec-color;
    margin-right: 10px;
    width: 30px;
    height: 3vh;
    border: none;
    border-radius: 4px;
    background-image: url("../assets/twitter.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    cursor: pointer;
  }
 
  .linkedin {
    background-color: $sec-color;
    margin-right: 10px;
    width: 30px;
    height: 3vh;
    border: none;
    border-radius: 4px;
    background-image: url("../assets/linkdin.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    cursor: pointer;
  }
  .fb {
    background-color: $sec-color;
    margin-right: 10px;
    width: 30px;
    height: 3vh;
    border: none;
    border-radius: 4px;
    background-image: url("../assets/facebook.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    cursor: pointer;
  }

  .footer {
    display: flex;
    margin: 10px 0;
  }

  .label {
    margin: 10px 0;
  }
}


.title {
  border-bottom: 2px solid $sec-color;
}

.main {
  display: flex;
  font-size: 28px;
  color: $sec-color;
  margin-left: 4vw;
  margin-right: 4vw;
  .main-left {
    float: left;
    flex: 6;
    .top {
      font-size: 2vw;
    }
    .main1 {
      float: left;
      .text1 {
        font-size: 14px;
        position: relative;
        img {
          margin-right: 8px;
          width: 31vw;
        }
        p {
          font-size: 1vw;
          position: absolute;
          bottom: 0;
          margin-left: 5px;
        }
        
      }
      .main3 {
        margin-top: 5px;
        img {
          width: 15vw;
          max-height: 10vw;
          object-fit: cover;
          margin-right: 10px;
        }
      }
    }
    .main2 {
      img {
        width: 15vw;
        height: 10vw;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
      }
      .box {
        width: 15vw;
        height: 10vw;
        display: flex;
        border: 1px solid $sec-color;
        font-size: 1.2vw;
        i {
          font-size: 2vw;
          margin: auto;
          margin-right: unset;
        }
        p {
          margin: auto;
          margin-left: 20px;
        }
      }
    }
  }
}
